<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
	<script src="js/menu-sub.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="//code.ionicframework.com/nightly/js/ionic.bundle.min.js"></script>
<!-- Firebase js -->
    <script src="js/firebase.js"></script>
 
    <!-- ANGULARFIRE js -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
 <script > function calcRoute() {
  var start = document.getElementById('start').value;
  var end = document.getElementById('end').value;
  var request = {
      origin: start,
      destination: end,
      travelMode: google.maps.TravelMode.DRIVING,
	   provideRouteAlternatives: true
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      
				directionsDisplay.setDirections(response);
      var route = response.routes[0];
    }
  });
}</script>
	<style>html, body, #mapa {
    height: 100%;
    width: 100%;
	.scroll-bar-indicator
{
	display: none;
}
}
#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    background-image:
url("img/load.GIF");
    background-repeat: no-repeat;
    background-position: center;
}
</style>
	<!-- 
	-->
	
	
	<!-- 
	-->
</head>
<body ng-app="ionic.googleMapsEjemplo" ng-controller="MapaCtrl"  >
<div  id="page">
<!--<ion-header-bar class="bar-positive"><h1 class="title">Inicio</h1>
		<button class="button"><i class="icon ion-star"></i></button>
      </ion-header-bar>--> 
         
		
 <ion-side-menus >
	<ion-side-menu-content class="has-subheader" edge-drag-threshold="false"
  drag-content="false" >  

		

		<ion-header-bar class="bar-positive">
			<div class="buttons">
				<button class="button icon ion-navicon" ng-click="toggleLeft()" ng-show="asdf"></button>
			</div>
				<div  ng-show="asdf"><a href="javascript:mostrarDiv();"><h1 class="title">Two Seek <i class="ion-compass"></i></h1></a></div><button  ng-show="asdf"class="button  pull-right" ng-click="toggleRight()"><i class="icon ion-star"></i></button>
		<div  ng-hide="asdf"><a href="javascript:location.reload(true)"><h1 class="title">Two Seek <i class="ion-compass"></i></a></h1></div>
		</ion-header-bar>
		<div id="iddiv" style="border:0px solid;overflow:hidden;z-index="100" >
			<div style="padding:5px;">
				<br />
				<br />
				<ion-item class="item-profile">
				<div class="row">
  <div class="col"><div class="item-avatar">
    <img ng-src="img/url66+.jpg" style="max-height: 100px;max-width: 100px;">
  </div> </div>
  <div class="col"> {{asdqwe}}</div>
 
</div>
				
</ion-item>
				
			</div>
		</div>
		<div ng-show="asdf" ng-click="showActionsheet()"class="floating-menu" style="vertical-align: bottom;position:fixed;background:#09f;font-size:30px;border:1px solid #fff;color:#fff;width:45px;height:45px;text-align:center;z-index:100; bottom:65px;right:15px;border-radius:75px;">
             <p></p> +
             
          </div>
		  
		  
		  
		  
		  <a href="javascript:mostrarDiv2();">
		<ion-nav-view ></ion-nav-view></a>
	
		 
<ion-footer-bar class="bar-positive" scroll="false"   ng-show="asdf" >


	   <div class="tabs tabs-positive tabs-icon-top">
		
		
  <a class="tab-item" ng-click="center()" href="#/map"><i class="icon ion-location"></i>Servicio</a>
   <a class="tab-item"  href="#/map"><i class="icon ion-home"></i>Inicio</a> 
  <a class="tab-item"  ng-click="calcRoute()"><i class="icon ion-map"></i>Mapa</a>
  <a class="tab-item" href="javascript:location.reload(true)"><i class="icon ion-refresh"></i>Actualizar</a>
 

  </div><div id="infoPanel">
    <div id="address"></div>
    <div id="markerStatus"></div>
    <div id="coor"></div>
	<div id="coor2"></div>
    <div id="info"></div>
</div>
      </ion-footer-bar>

	</ion-side-menu-content>

<ion-side-menu side="left"  scrollbar-y="false" ><ion-scroll zooming="false" style="height:100%;width:100%;" direction="y" scroll="false"  scrollbar-x="false" scrollbar-y="false" >
<ion-list>
<ion-item>Home</ion-item>
</ion-list>
<div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Check mail
	</a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Call Ma
    <i class="icon ion-ios-telephone-outline"></i>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    Record album
    <span class="item-note">
      Grammy
    </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Friends
    <span class="badge badge-assertive">0</span>
  </a>

</div> </ion-scroll>
</ion-side-menu>


<ion-side-menu side="right" ><ion-scroll  style="height:100%;width:100%;" zooming="false" direction="y">
<ion-list>
<ion-item>Favoritos</ion-item>

<ion-item href="#/add"  menu-close>Añadir Favoritos</ion-item>

<ion-item menu-close ng-repeat="city in markers" ng-click="openInfoWindow2($event, city)">{{ city.title }}
</ion-item>

</ion-list> 
</ion-scroll>
</ion-side-menu>
</div><div id="loading"></div>
		<script type="text/javascript">
		function onReady(callback) {
    var intervalID = window.setInterval(checkReady, 1000);

    function checkReady() {
        if (document.getElementsByTagName('body')[0] !== undefined) {
            window.clearInterval(intervalID);
            callback.call(this);
        }
    }
}

function show(id, value) {
    document.getElementById(id).style.display = value ? 'block' : 'none';
}

onReady(function () {
    show('page', true);
    show('loading', false);
});
		
		/*
		    var messagesRef = new Firebase("https://docs-examples.firebaseio.com/samplechat/messages");
			
    messagesRef.once("value", function(allMessagesSnapshot) {
	var data = allMessagesSnapshot.val();
	console.log(data); 
	
      allMessagesSnapshot.forEach(function(messageSnapshot) {
        // Will be called with a messageSnapshot for each child under the /messages/ node
        var key = messageSnapshot.key();  // e.g. "-JqpIO567aKezufthrn8"
        var uid = messageSnapshot.child("uid").val();  // e.g. "barney"
        var text = messageSnapshot.child("text").val();
console.log(key); 
console.log(uid); 
console.log(text); 
		// e.g. "Welcome to Bedrock City!"
      });
    });
		*/
		/*var ref = new Firebase("https://groceries918.firebaseio.com/");
ref.once("value", function(snapshot) {
  var data = snapshot.val();
var asd = '-K7-Wdc-OwrxgOhQKwX2';
  // data equals { "name": { "first": "Fred", "last": "Flintstone" }, "age": 53 }
  console.log(data.asd);  // "Fred"
  console.log(data.items.asd);  // 53
});
	*//*
    var fredRef = new Firebase("https://docs-examples.firebaseio.com/samplechat/users/fred");
    fredRef.once("value", function(snapshot) {
      var data = snapshot.val();
      // data equals { "name": { "first": "Fred", "last": "Flintstone" }, "age": 53 }
      console.log(data.name.first);  // "Fred"
      console.log(data);  // 53
    });
	*/
<!--
//cogemos la altura actual del div
var heightDiv=document.getElementById('iddiv').offsetHeight;
//Iniciamos con el div escondido
//Lo hacemos a posteriori para poder coger el tamaño del div...
document.getElementById('iddiv').style.display='none';
-->
</script>

</body>
</html>
