<ion-view view-title="Editar">

<ion-content  scroll="false" >
		 
	  <div class="list card">
		<div class="item item-input">
			<input type="text" ng-model="city.city">
		</div>
		
		<div class="item item-input">
			<input type="text" ng-model="city.coor">
		</div>
		<div class="item item-input">
			<input type="text" ng-model="city.coor2">
		</div>
		
		<div class="padding">
		<button class="button button-block button-positive" ng-click="save()">Save</button>
		</div>
	 </div>
</ion-content>
</ion-view>