

    
  
<div ng-show="asdf" class="bar row bar-subheader item-input-inset"><a class="col">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>  
    <input type="search" id="direccion" placeholder="Dirección (calle,código postal, población,...)">
  </label>
 </a> 
</div>

<!--
<div class="row has-header">
  
  <a class="col">
 
     <label class="item item-input">
  <span class="input-label">Longitud: </span>
    <input type="text" id="longitud" name="longitud" placeholder="10.232197476178218">
  </label>
	</a>
  <a class="col"><label class="item item-input">
  <span class="input-label">Latitud: </span>
    <input type="text" id="latitud" name="latitud" placeholder="10.232197476178218">
  </label></a>
  </div>
--> 

<div ng-show="geo" class="floating-menu"style="vertical-align: bottom;position:fixed;background:#09f;font-size:13px;border:0px;color:#fff;width:100%;height:55px;text-align:center;z-index:100; top:90px;border-radius:10px;">Tú Posición<br /><div id="lat"></div></div>
		<div ng-show="asdf" > 
		  <div  ng-hide="geo" ng-click="geo = true;center()" class="floating-menu button"id="watchPositionBtn"  style="vertical-align: bottom;position:fixed;background:#387EF5;font-size:20px;border:1px solid #fff;color:#fff;width:20px;height:20px;text-align:center;z-index:100; bottom:65px;left:15px;border-radius:100px;">
              <i class="ion-compass"></i>
          </div>
		  <div ng-show="geo" ng-click="geo = false" class="floating-menu button"id="stopWatchBtn"  style="vertical-align: bottom;position:fixed;background:#0AC049;font-size:20px;border:1px solid #fff;color:#fff;width:20px;height:20px;text-align:center;z-index:100; bottom:65px;left:15px;border-radius:100px;">
              <i class="ion-compass"></i>
          </div>
		</div>
<div id="mapa" data-tap-disabled="true" class="has-header " ></div>

