<ion-view title="Ingresar">
   


        <div class="padding-left padding-top padding-right has-header">
           <br /><br /> <h1 >Bienvenido</h1>
        </div>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="username" type="text" placeholder="Email" />
                </label>
                <label class="item item-input">
                    <input ng-model="password" type="password" placeholder="Clave" />
                </label>
            </div>
            <div class="padding">
                <button ng-click="login(username, password); asdf=true;" class="button button-block button-stable">Ingresar</button>
                <button ng-click="register(username, password)" class="button button-block button-dark">Registrar</button>
                <p> 
                    Registrate acá también!
                </p>
            </div>
        </div>
    
</ion-view>