<ion-view view-title="Editar">

<ion-content  scroll="false" >
<div class="floating-menu"style="vertical-align: bottom;position:fixed;background:#09f;font-size:13px;border:0px;color:#fff;width:100%;height:55px;text-align:center;z-index:100; top:90px;border-radius:10px;">Tú Posición<br /><div id="lat2"></div></div>
	
   
        <div id="map_canvas" style="height:100%;width:100%;"></div>
    
</ion-content>
</ion-view>