<ion-view view-title="Editar">

<ion-content  scroll="false" >
		 
	   
		 
		<div class="list">
		<div class="item">
		<h1>Precio: {{precio_precio}}</h1>
		</div>
		<div class="item">
    <strong>Distancia: </strong>{{precio_distancia}} Km
  </div> 
  <div class="item">
    <strong>Duración aprox:</strong> {{precio_duracion}} Min
  </div>
  <div class="item">
    <strong>Inicio:</strong> {{precio_direccion1}}
  </div>
  <div class="item">
    <strong>Final:</strong> {{precio_direccion2}}
  </div>
  <div class="item range range-positive">
    <i class="icon ion-cash"></i>
    <input type="range" name="precio_precio"id="precio_precio" min="300" max="3000" value="500" ng-click="pre()">
    <i class="icon ion-cash"></i>
  </div>
</div>
		<div class="item item-input" ng-repeat="taxi in taxistas">
			
		</div>
		<div class="padding">
		<button class="button button-block button-positive" ng-click="save4()">ACEPTAR</button>
		<div class="padding">
		<div class="padding">
		<div class="padding">
		<button class="button button-block button-assertive" ng-click="save3()">Rechazar</button>
		</div>
		</div>
		</div>
		</div>
	 
</ion-content>
</ion-view>