<ion-view view-title="Editar">

<ion-content  scroll="false" >
		 <div id="map-canvas" style="float:left;width:70%;height:100%;"></div>
		 
	  <div class="list card">
		<div class="item item-input">
			<input type="text"  id="start"value="{{direccion}}">
		</div>
		<div class="item item-input">
			<input type="text"   id="waypoints"value="{{direccion}}">
		</div>
		<div class="item item-input">
			<input type="text"   id="end"value="{{direccion}}">
		</div>
		<div class="item item-input">
			<input type="text" value="{{duracion}}">
		</div>
		<div class="item item-input">
			<input type="text" value="{{distancia}}">
		</div>
		<input type="text" value="{{lat}}">
		<input type="text" value="{{lon}}">
		{{precio}}
		<div class="padding">
		<button class="button button-block button-positive" onclick="calcRoute();">Save</button>
		</div>
	 </div>
	 <div id="control_panel" style="float:right;width:30%;text-align:left;padding-top:20px">
	 
	 
</ion-content>
</ion-view>
   