<ion-view view-title="Editar">

<ion-content  scroll="false" >
		 
	  <div class="list card">
		<div class="item item-input">
			<input type="text" value="{{direccion}}">
		</div>
		
		<div class="item item-input">
			<input type="text" value="{{duracion}}">
		</div>
		<div class="item item-input">
			<input type="text" value="{{distancia}}">
		</div>
		<input type="text" value="{{lat}}">
		<input type="text" value="{{lon}}">
		{{precio}}
		<div class="padding">
		<button class="button button-block button-positive" ng-click="save2()">Save</button>
		</div>
	 </div>
</ion-content>
</ion-view>