<ion-view view-title="Editar">

<ion-content  scroll="false" >
		 
	  <div class="list card">
		
		
		<h1>Espere mientras contactamos un Taxi para usted!</h1>
		
	 </div>
	 <div class="list card">
		<div class="item item-input">
			<input type="text" value="{{key}}">
			<input type="text" value="{{uid}}">
			
		</div>
		
		
		<div class="padding">
		<button class="button button-block button-assertive" ng-click="cancel1()">Cancelar</button>
		</div>
	 </div>
</ion-content>

</ion-view>