html, body, #mapa {
    height: 100%;
    width: 100%;
	
	
	.run(function($ionicPlatform){
		$ionicPlatform.ready(function(){
			if(window.cordova && window.cordova.plugins.Keyboard){
				cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);
			}
			if(window.StatusBar){
				StatusBar.styleDefault();
			}
		});
	})
	.config(function($stateProvider, $urlRouterProvider){
	 $stateProvider
	 .state('index',{
		 url: '/',
		 templateUrl:'map.html',
		 controller:'map'
	 })
	 .state('b_dir',{
		 url: '/',
		 templateUrl:'b_dir.html',
		 controller:'b_dir'
	 })
	 $urlRouterProvider.otherwise('/')
 })
 .controller('map', function($scope){
	 
 })
 .controller('b_dir', function($scope){
	 
 })
 .slider { height: 100%; text-align: center }
.scroll { height: 100% }
.item-profile {
  height: 250px;
  .item-avatar > img:first-child {
    max-width: 100px;
    max-height: 100px:
  }
}